@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Josh Comeau's Custom CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* CSS variables */
:root {
  --turquoise: #66e2dc;
  --dark-orange: #fa7453;
  --orange: #ffb964;
  --white: #fcfaf9;
  --black: #191826;

  --ff-body: 'IBM Plex Sans', sans-serif;
  --ff-heading: 'IBM Plex Sans', sans-serif;
  --fluid-text-h1: clamp(2.5rem, 1.1994rem + 5.5491vi, 5.5rem);
  --fluid-text-h2: clamp(2rem, 1.7832rem + 0.9249vi, 2.5rem);
  --fluid-text-p: clamp(1rem, 0.9458rem + 0.2312vi, 1.125rem);
  --fw-regular: 400;
  --fw-bold: 700;
}

/* reusbale styles */
.container {
  max-width: 70rem;
  padding-inline: 2rem;
  margin: 0 auto;
}

.primary-heading {
  font-size: var(--fluid-text-h1);
  font-weight: var(--fw-bold);
  line-height: 88px;
  letter-spacing: -1px;
}

.secondary-heading {
  font-size: clamp(2rem, 1.7832rem + 0.9249vi, 2.5rem);
  font-weight: var(--fw-bold);
}

.logo {
  width: 9.125rem;
}

.btn {
  font-size: inherit;
  font-weight: var(--fw-bold);
  text-decoration: none;
  padding: 1.3125rem 3rem;
  display: inline-block;
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  transition: all 0.3s ease;
}

.btn--ios {
  background: var(--black);
  color: var(--white);
}

.btn--ios:is(:hover, :active) {
  background: var(--turquoise);
  color: var(--white);
}

.btn--android {
  background: var(--white);
  color: var(--black);
}

.btn--android:is(:hover, :active) {
  background: var(--orange);
  color: var(--white);
}

/* page styles */
body {
  font-family: var(--ff-body);
  font-size: var(--fluid-text-p);
  font-weight: var(--fw-regular);
  line-height: 1.5;

  background: url(/assets/bg-pattern-1.svg);
  background-repeat: no-repeat;
  background-position: top -40px right;
  background-size: clamp(16.6669rem, 15.6814rem + 4.9272vi, 19.5rem);

  -webkit-font-smoothing: antialiased;
  position: relative;
}

body::after {
  content: '';
  background: url(/assets/bg-main-desktop.png) no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* header */
header {
  padding-top: clamp(2.5rem, 1.9039rem + 2.5434vi, 3.875rem);
}

/* hero */
.hero__title {
  max-width: 80%;
  padding-top: clamp(4rem, 2.293rem + 7.2832vi, 7.9375rem);
  padding-bottom: clamp(1rem, 0.4783rem + 2.6087vi, 2.5rem);
}

.hero__description {
  max-width: 70%;
  padding-bottom: clamp(10.375rem, 7.1359rem + 16.1957vi, 19.6875rem);
}

/* pricing */
.blue-bg {
  width: 100%;
  height: 37.5rem;
  background: url(/assets/bg-pattern-2.svg) no-repeat;
  background-position: left 20rem top 0;
  background-color: var(--black);
  border-radius: 12px;

  position: relative;
}

.phone-img {
  width: clamp(13.0606rem, 10.269rem + 11.911vi, 19.5rem);

  position: absolute;
  left: 101px;
  top: clamp(-13.3125rem, -3.009rem + -13.2948vi, -6.125rem);
}

.pricing {
  background: var(--dark-orange);
  color: var(--white);
  padding: 3.625rem 3.4375rem 3rem;
  border-radius: 12px;
  max-width: clamp(24.9375rem, 20.1578rem + 9.9576vi, 27.875rem);

  position: absolute;
  top: clamp(5.625rem, 11.0007rem + -6.9364vi, 9.375rem);
  right: clamp(3.625rem, -0.1377rem + 7.839vi, 5.9375rem);
}

.pricing__title {
  margin-bottom: clamp(0.6875rem, 0.3895rem + 1.2717vi, 1.375rem);
}

.pricing__cost {
  font-size: 4.0625rem;
  font-weight: var(--fw-bold);
  margin-block: 2.25rem;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.pricing__cost::after {
  content: '/ amonth';
  font-size: 1.25rem;
  font-weight: var(--fw-regular);
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* footer */
footer {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  gap: 2rem;

  padding-top: clamp(12.625rem, 16.6685rem + -5.2174vi, 15.625rem);
  padding-bottom: clamp(5rem, 4.702rem + 1.2717vi, 5.6875rem);
}

.footer__email {
  font-weight: var(--fw-bold);
}

.social-icons {
  margin-left: auto;
  font-size: 1.25rem;

  display: flex;
  gap: 1rem;
}

.social-icon-link {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}

.social-icon-link:is(:hover, :active) {
  color: var(--dark-orange);
}

/* media queries */
@media (max-width: 48em) {
  body {
    background-position: top -32px right -2.25rem;
  }
  .primary-heading {
    line-height: 64px;
    letter-spacing: -0.73px;
  }
  .pricing {
    padding: 3rem 3.4375rem 3rem;
  }
  .blue-bg {
    background-position: left 70% top -40%;
  }
  footer {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__logo {
    grid-column: span 2;
  }
}

@media (max-width: 35em) {
  .blue-bg {
    background-position: left 50% top 0;
    background-size: 80%;
  }
  .phone-img {
    left: 50%;
    transform: translateX(-50%);
  }
  .pricing {
    max-width: 100%;
    right: 0;
    top: 22rem;
  }
  footer {
    padding-top: clamp(25rem, 29.212rem + -5.4348vi, 28.125rem);
    grid-template-columns: 1fr;
  }
  .footer__logo {
    grid-column: auto;
  }
  .social-icons {
    margin-left: 0;
  }
}

@media (max-width: 24.75em) {
  body {
    background: none;
  }
  header {
    top: 2.5rem;
  }
  .primary-heading {
    line-height: 40px;
    letter-spacing: 0.45px;
  }
  .hero__description {
    max-width: 100%;
  }
}
